$blue-brand: #1877f2;
$light-grey: #DADDE1;
$light-green: #42b72a;
$border: 1px solid $light-grey !default;

.banner .logo-large {
  font-family: 'Klavika Bold', sans-serif;
  font-size: 50px;
  color: $blue-brand;
}

.login-form {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 6px -4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

  .input {
    border-color: $light-grey;
  }

  input, .login-button {
    padding: 10px;
    margin: 0 15px 10px;
    border: $border;
    border-radius: 4px;
  }

  .login-button {
    border: $border;
    border-radius: 4px;
    background-color: $blue-brand;
    font-weight: 700;
    font-size: 16px;
    color: white;
  }

  .login-button:hover {
    background-color: #3975EA;
  }

  .separator {
    border-top: $border;
    margin: 10px 15px;
  }

  .create-account-button {
    border: $border;
    border-radius: 4px;
    background-color: $light-green;
    font-size: 15px;
    color: white;
    display: inline-block;
    max-width: 200px;
    padding: 10px;
    margin: 10px auto 10px;
  }

  .create-account-button:hover {
    background-color: #54a152;
  }
}

@media only screen and (max-width:900px) {
  .login-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .login-page {
    display: grid;
    grid-template-columns: 1fr 1fr 350px 1fr 1fr;
    grid-template-rows: 10px 1fr 3fr 1fr 30px;
    row-gap: 1em;
    justify-content: center;

    .banner {
      grid-column: 3 / 4;
      grid-row: 2;
      padding-bottom: 10px;
  
      .tagline {
        margin: 0.5em 1em 0;
      }
    }

    .login-form {
      grid-column: 3 / 4;
      grid-row: 3;
      max-height: 300px;
    }
  } 
}

@media only screen and (min-width: 900px) {
  .login-page {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .banner {
      max-width: 30%;
    }

    .login-form {
      height: 300px;
      width: 350px;
    }
  }
}