$nav-background: #242526;
$light-grey: #DADDE1;
$light-grey-text: #B0B3B8;
$badge-background: #3A3B3C;
$badge-bg-hover: #4E4F50;
$border-color: #2F3031;

$input-text: #e4e6eb;

$separator: #3e3f41;

$active-background: #2B394F;
$active-color: #4987F7;
$active-text: #4987F7;

$search-text-placeholder: #8A8D91;
$search-card-bg-hover: #292A2C;
$search-icon-bg: #18191A;

.top-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  width: 100%;
  top: 0;
  z-index: 8;
  background: $nav-background;
  border: 1px solid $border-color;
  
  // border-bottom: 1px solid $light-grey;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      color: white;
      padding: 10px;

      .home-and-search {
        display: flex;
        align-items: center;

        div.badge {
          margin-right: 10px;
        }

        div.badge.home {
          a {
            width: 40px;
            height: 40px;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
          }
        }

        div.badge.back {
          background: $nav-background;
          transition: background 0.3s ease-out;
        }

        div.badge.back:hover {
          background: $badge-background;
        }

        .search {
          background: $badge-background;
          border-radius: 25px;

          input {
            padding: 5px 15px;
            width: 250px;
            height: 40px;
            background: $badge-background;
            border: none;
            border-radius: 25px;
            color: $input-text;
            font-family: system-ui;
            font-size: 15px;
          }
          
          input::placeholder {
            color: $search-text-placeholder;
            font-weight: 300;
          }
        }
      }

      .search-results {
        position: absolute;
        top: 53px;
        left: -1px;
        width: 320px;
        min-height: 47px;
        overflow: hidden;
        border: 1px solid $border-color;
        background: $nav-background;

        .search-user-card, .search-friend-card {
          margin: 5px;
          transition: background 0.3s ease-out;
          border-radius: 8px;

          a {
            height: 52px;
            display: flex;
            align-items: center;
            padding-left: 10px;

            .avatar-container, .icon-container {
              height: 48px;
              width: 48px;
              display: flex;
              align-items: center;

              .avatar, i {
                height: 36px;
                width: 36px;
                border-radius: 50%;
              }

              i {
                display: flex;
                justify-content: center;
                align-items: center;
                background: $search-icon-bg;
              }
            }

            .text {
              h4 {
                color: $input-text;
                font-size: 15px;
                margin-bottom: 3px;
              }
              p {
                color: $light-grey-text;
                font-size: 13px;
              }
            }
          }
        }

        .search-user-card:hover, .search-friend-card:hover {
          background: $search-card-bg-hover;
        }

        .failure-card {
          margin: 5px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
    
          p {
            font-size: 15px;
            color: $search-text-placeholder;
          }
        }
      }

      .badge {
        border-radius: 20px;
        background: $badge-background;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.3s ease-out;
      }

      .badge:hover {
        cursor: pointer;
        background-color: $badge-bg-hover;
      }

      .badge.active {
        background: $active-background;
        color: $active-color;
      }

      .outer-dropdown {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 0);
        z-index: 10;
      }

      .dropdown {
        position: fixed;
        top: 50px;
        right: 10px;
        z-index: 3;
        width: 360px;
        height: 180px;
        border-radius: 6px;
        border: 1px solid $border-color;
        background: $nav-background;
        display: flex;
        flex-direction: column;

        .user-card, .logout {
          margin: 10px;
          padding: 10px;
          border-radius: 6px;
          transition: background 0.3s ease-out;
        }

        .user-card {
          a {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .avatar-container {
              height: 60px;
              width: 60px;
              overflow: hidden;
              margin-right: 10px;
              
              .avatar {
                border-radius: 50%;
                height: 60px;
                width: 60px;
              }
            }

            h4 {
              font-size: 17px;
              font-weight: 500;
              margin: 5px 0;
            }
  
            p {
              color: $light-grey-text;
              font-size: 15px;
              font-weight: 400;
            }
          }
        }

        .separator {
          border-bottom: 1px solid $separator;
          margin: 0 10px;
        }

        .user-card:hover, .logout:hover {
          background: $badge-background;
          cursor: pointer;
        }

        .logout {
          display: flex;
          align-items: center;

          i {
            font-size: 20px;
            margin-right: 10px;
            padding: 10px;
            background-color: $badge-background;
            border-radius: 20px;
          }

          span {
            font-size: 15px;
          }
        }

        
      }
    }
  }

  .middle-links {
    justify-content: center;

    li {
      margin: 0 10px;
      padding: 10px 10px 0 10px;
      border-radius: 20px;
      transition: background 0.3s ease-out;
    }

    li:hover {
      background: $badge-background;
      cursor: pointer;
    }
    
    .home-link, .linked-in-link, .gh-link, .flower-link {
      height: 100%;
      a {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 26px;
        padding: 4px 40px 8px;
      }

      a.active {
        border-bottom: 4px solid $active-color;
        border-radius: 3px;
        i {
          color: $active-text;
        }
      } 
    }
  }

  .dropdown-container {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 900px) {
  .top-nav {
    .middle-links {
      li {
        margin: 0 3px;
        padding: 10px 5px 0 5px;
        border-radius: 20px;
      }
      
      .home-link, .linked-in-link, .gh-link, .flower-link {
        height: 100%;
  
        a {
          font-size: 26px;
          padding: 4px 15px 8px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .top-nav ul.middle-links {
    display: none;
  }
}

  

.top-nav + * {
  margin-top: 53px;
}