$light-grey: #DADDE1;

.top-nav {
  position: fixed;
  height: 55px;
  width: 100%;
  top: 0;
  z-index: 2;
  background: rgb(36, 37, 38);
  
  // border-bottom: 1px solid $light-grey;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    color: white;
    padding: 10px;
  }
}

.top-nav + * {
  margin-top: 55px;
}