$dark-grey-bg: #242526;
$button-bg: #3A3B3C;
$name-text: #E4E6EA;
$link-text: #B0B3B8;
$separator: #3E3F41;

$active-link: #2E89FF;

header.wall-header {
  display: grid;
  grid-template-rows: 325px 83px 68px 4px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background: $dark-grey-bg;

  div.cover-photo-sub {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background: darkgray;
    width: 100%;
    height: 100%;
  }

  h1.full-name {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    color: $name-text;
    font-size: 32px;
    font-weight: 600;
  }

  .wall-nav {
    border-top: 1px solid $separator;
    grid-column: 1 / span 3;
    grid-row: 3 / 4;
    height: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wall-nav-links {
      display: flex;
      height: 100%;

      li {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 16px;
        color: $link-text;

        a {
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0 16px;
        }

        a.active {
          border-bottom: 4px solid $active-link;
          border-radius: 2px;
          color: $active-link;
        }
      }
    }

    .wall-nav-buttons {
      display: flex;

      li {
        color: $link-text;
        padding: 0 16px;

        button {
          padding: 10px 14px;
          border-radius: 6px;
          border: none;
          background: $button-bg;
          color: $name-text;
          font-size: 16px;

          i {
            padding-right: 8px;
          }
        }
      }
    }
  }
}