$dark-background: #18191a;
$lighter-background: #242526;
$text-color: #e4e6eb;
$icon-color: #737b86;
$separator: #3e3f41;

$nav-link-active-color: #2e89ff;
$nav-link-active-background: #2b394f;
$nav-link-color: #b0b3b8;
$nav-link-hover: #3a3b3c;

$disabled-button-bg: #505151;
$disabled-button-color: #858686;

.wall-about {
  background: $dark-background;
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 287px 589px 1fr;
  grid-template-rows: 16px 1fr;
  color: $text-color;

  .categories {
    background: $lighter-background;
    height: 400px;
    grid-row: 2;
    grid-column: 2 / 3;
    border-right: 1px solid $separator;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    h3 {
      font-size: 20px;
      font-weight: 500;
      padding: 15px;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 5px;

      li {
        display: flex;
        align-items: center;
        height: 100%;

        a {
          font-size: 15px;
          margin: 0 5px;
          padding: 15px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 100%;
          width: 100%;
          border-radius: 10px;
          color: $nav-link-color;
          transition: background 0.3s ease-out;
        }

        a:hover {
          background: $nav-link-hover;
        }

        a.active {
          color: $nav-link-active-color;
          background-color: $nav-link-active-background;
        }
      }
    }
  }

  .details {
    background: $lighter-background;
    height: 400px;
    grid-row: 2;
    grid-column: 3 / 4;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    h4 {
      font-size: 17px;
      font-weight: 500;
      margin: 15px 0 5px 15px;
    }

    ul {
      margin: 5px;

      li {
        padding: 5px;

        span {
          color: $text-color;
          font-size: 15px;
        }

        i {
          padding: 10px;
          width: 30px;
          color: $icon-color;
          font-size: 24px;
        }

        .edit-toggler{
          i {
            color: $nav-link-active-color;
          }
          i::before {
            border: 1px solid $nav-link-active-color;
            padding: 2px 3px;
            border-radius: 18px;
          }
          span {
            color: $nav-link-active-color;
          }
        }

        form {
          margin: 15px 0 5px 15px;

          input[type=text] {
            display: block;
            width: 85%;
            padding: 10px;
            border-radius: 6px;
            border: 1px solid $separator;
            background: $lighter-background;
            color: $text-color;
            transition: ease-in-out 0.4s;
          }

          select {
            display: block;
            width: 90%;
            padding: 10px;
            border-radius: 6px;
            border: 1px solid $separator;
            background: $nav-link-hover;
            font-size: 15px;
            color: $text-color;

            option:hover {
              background: $nav-link-hover;
            }
          }

          input[type=text]:focus {
            border: 3px solid white;
          }

          button, a {
            position: relative;
            left: 60%;
            margin: 5px 0 0 10px;
            padding: 10px;
            font-size: 15px;
            font-weight: 500;
            color: $text-color;
            background-color: $nav-link-hover;
            border: none;
            border-radius: 6px;
          }

          button:disabled {
            color: $disabled-button-color;
            background: $disabled-button-bg;
          }
        }
      }
    }
  }
}
