$dark-grey-bg: #242526;
$button-bg: #3A3B3C;
$name-text: #e4e6eb;
$link-text: #B0B3B8;
$separator: #3E3F41;
$badge-bg-hover: #4E4F50;

$edit-button-bg: white;
$edit-button-text: #050505;
$edit-button-hover: #e3e4e6;

$disabled-button-bg: #505151;
$disabled-button-color: #858686;

$active-link: #2E89FF;
$button-blue: #3C72DA;
$blue-hover: #5FAAFF;
$message-button-color: #FFFFFF;

header.wall-header {
  display: grid;
  grid-template-rows: 350px 87px 58px 4px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  background: $dark-grey-bg;

  div.cover-photo-container {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background: darkgray;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    img {
      position: relative;
      width: 100%;
      z-index: 3;
    }

    .edit-button {
      position: absolute;
      z-index: 4;
      bottom: 10px;
      right: 15px;
      padding: 10px;
      background: $edit-button-bg;
      border: none;
      border-radius: 6px;
      font-size: 15px;
      font-weight: 500;
      color: $edit-button-text;
      transition: background 0.3s ease-out;

      i {
        margin-right: 5px;
      }
    }

    .edit-button:hover {
      background-color: $edit-button-hover;
      cursor: pointer;
    }
  }

  .avatar-container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 3;
    width: 178px;

    .avatar {
      position: absolute;
      z-index: 4;
      bottom: 25px;
      width: 168px;
      height: 168px;
      border: 5px solid $dark-grey-bg;
      border-radius: 50%;
    }

    i {
      position: absolute;
      z-index: 5;
      right: 10px;
      bottom: 38px;
      padding: 8px;
      border: none;
      border-radius: 50%;
      color: $name-text;
      background: $button-bg;
      transition: background 0.3s ease-out;
    }

    i:hover {
      cursor: pointer;
      background-color: $badge-bg-hover;
    }
  }

  .avatar-container .outer-modal, .cover-photo-container .outer-modal {
    background: rgba(1, 1, 1, 0.7);

    .inner-modal {
      z-index: 8;
      width: 700px;
      height: 500px;
      display: grid;
      text-align: center;
      grid-template-rows: 75px 350px 75px;
      grid-template-columns: 700px;
      align-content: center;
      background: $dark-grey-bg;
      font-size: 15px;

      input[type=file] {
        color: white;
        margin-top: 10px;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }

      .preview {
        margin: 0 auto;
        text-align: center;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        max-height: 340px;
      }

      .buttons {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top: 1px solid $separator;

        a {
          color: $button-blue;
          transition: background 0.3s ease-out;
          padding: 7px 20px 10px;
          border-radius: 6px;
        }

        a:hover {
          cursor: pointer;
          background: $button-bg;
        }

        input[type=submit] {
          margin: 0 15px 0 0;
          color: white;
          background: $button-blue;
          border: none;
          border-radius: 6px;
          padding: 10px 40px;
          transition: background 0.3s ease-out;
        }

        input[type=submit]:hover {
          cursor: pointer;
          background: $blue-hover;
        }

        input[type=submit]:disabled {
          color: $disabled-button-color;
          background: $disabled-button-bg;
        }

        input[type=submit]:disabled:hover {
          cursor: default;
          background: $disabled-button-bg;
        }
        
      }

      
    }
  }

  h1.full-name {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    color: $name-text;
    font-size: 32px;
    font-weight: 600;
  }

  .wall-nav {
    border-top: 1px solid $separator;
    grid-column: 1 / span 3;
    grid-row: 3 / 4;
    height: 100%;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    // display: grid;
    // grid-template-columns: 16px 1fr 360px 500px 1fr 16px;

    .wall-nav-links {
      // grid-column: 3;
      display: flex;
      height: 100%;

      li {
        display: flex;
        align-items: center;
        height: 100%;
        margin-top: 3px;
        font-size: 16px;
        color: $link-text;
        border-radius: 6px;
        transition: background 0.3s ease-out;

        a {
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0 16px;
        }

        a.active {
          border-bottom: 4px solid $active-link;
          color: $active-link;
        }
      }

      li:hover {
        background: $button-bg;
      }
    }

    .wall-nav-buttons {
      // grid-column: 4;
      justify-self: flex-end;
      display: flex;

      li {
        position: relative;
        color: $link-text;
        padding: 0 5px;

        button {
          padding: 10px 1rem;
          border-radius: 6px;
          border: none;
          background: $button-bg;
          color: $name-text;
          font-size: 1rem;
          transition: background 0.3s ease-out;

          i {
            padding-right: 0.5rem;
          }
        }

        button:hover {
          background: $badge-bg-hover;
        }

        .message-button {
          background: $button-blue;
          color: $message-button-color;
        }

        .message-button:hover {
          background: $blue-hover;
        }
      }

      li:last-child {
        padding-right: 0;
      }

      .panel {
        position: absolute;
        z-index: 11;
        padding: 5px;
        top: 40px;
        background: $dark-grey-bg;
        border-radius: 8px;
        border: 1px solid $separator;

        button {
          background: $dark-grey-bg;
          width: 100%;
          margin: 2px 0;
          padding: 5px 50px;
          font-size: 15px;
          color: $name-text;
          border: none;
          border-radius: 8px;
          transition: background 0.3s ease-out;
        }

        button:hover {
          background: $badge-bg-hover;
        }
      }
    }
  }
}