$dark-grey-bg: #242526;
$button-bg: #3A3B3C;
$name-text: #E4E6EA;
$link-text: #B0B3B8;
$separator: #3E3F41;
$badge-bg-hover: #4E4F50;

$edit-button-bg: white;
$edit-button-text: #050505;
$edit-button-hover: #e3e4e6;

$active-link: #2E89FF;

header.wall-header {
  display: grid;
  grid-template-rows: 350px 87px 58px 4px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background: $dark-grey-bg;

  div.cover-photo-container {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background: darkgray;
    width: 100%;
    height: 100%;
    position: relative;

    img {
      position: relative;
      z-index: 3;
    }

    .edit-button {
      position: absolute;
      z-index: 4;
      bottom: 10px;
      right: 15px;
      padding: 10px;
      background: $edit-button-bg;
      border: none;
      border-radius: 6px;
      font-size: 15px;
      font-weight: 500;
      color: $edit-button-text;
      transition: background 0.3s ease-out;

      i {
        margin-right: 5px;
      }
    }

    .edit-button:hover {
      background-color: $edit-button-hover;
      cursor: pointer;
    }
  }

  .avatar-container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: center;
    position: relative;

    .avatar {
      position: relative;
      z-index: 4;
      bottom: 110px;
      width: 168px;
      height: 168px;
      border: 5px solid $dark-grey-bg;
      border-radius: 50%;
    }

    i {
      position: absolute;
      z-index: 5;
      right: 130px;
      bottom: 128px;
      padding: 8px;
      border: none;
      border-radius: 50%;
      color: $name-text;
      background: $button-bg;
      transition: background 0.3s ease-out;
    }

    i:hover {
      cursor: pointer;
      background-color: $badge-bg-hover;
    }
  }

  h1.full-name {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    color: $name-text;
    font-size: 32px;
    font-weight: 600;
  }

  .wall-nav {
    border-top: 1px solid $separator;
    grid-column: 1 / span 3;
    grid-row: 3 / 4;
    height: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wall-nav-links {
      display: flex;
      height: 100%;

      li {
        display: flex;
        align-items: center;
        height: 100%;
        margin-top: 3px;
        font-size: 16px;
        color: $link-text;
        border-radius: 6px;
        transition: background 0.3s ease-out;

        a {
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0 16px;
        }

        a.active {
          border-bottom: 4px solid $active-link;
          color: $active-link;
        }
      }

      li:hover {
        background: $button-bg;
      }
    }

    .wall-nav-buttons {
      display: flex;

      li {
        color: $link-text;
        padding: 0 16px;

        button {
          padding: 10px 14px;
          border-radius: 6px;
          border: none;
          background: $button-bg;
          color: $name-text;
          font-size: 16px;

          i {
            padding-right: 8px;
          }
        }
      }
    }
  }
}