$dark-grey-bg: #242526;
$light-grey-bg: #3A3B3C;
$light-grey-bg-hover: #4E4F50;

$text-color: #e4e6eb;
$placeholder-text: #B1B3B8;
$button-blue: #3C72DA;
$button-blue-text: #FFFFFF;
$button-blue-hover: #507FDE;
$button-disabled: #505151;
$button-disabled-text: #858686;

$separator: #3E3F41;

$cross-color: #A8ABAF;

.posts-page {
  .create-post {
    .outer-modal.compose {
      background: rgba(1, 1, 1, 0.6);

      .inner-modal {
        background: $dark-grey-bg;
        width: 500px;
        // min-height: 420px;
        border: 1px solid $separator;

        // display: grid;
        // grid-template-rows: 60px 73px 153px 134px;
        display: flex;
        flex-direction: column;

        .compose-header {
          // grid-row: 1;
          height: 60px;
          position: relative;
          border-bottom: 1px solid $separator;
          display: flex;
          justify-content: center;
          align-items: center;
          
          h3 {
            color: $text-color;
            font-size: 20px;
            font-weight: 600;
          }

          h3:hover {
            cursor: text;
          }

          i {
            position: absolute;
            font-size: 20px;
            top: 10px;
            right: 10px;
            height: 20px;
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 50%;
            
            background: $light-grey-bg;
            transition: background 0.3s ease-out;
          }

          i:hover {
            background: $light-grey-bg-hover;
            cursor: pointer;
          }

        }

        .user-card {
          height: 73px;
          display: flex;
          align-items: center;

          h4 {
            font-size: 15px;
            color: $text-color;
          }

          h4:hover {
            cursor: text;
          }
        }

        .textbox-container {
          min-height: 153px;
          position: relative;

          .textbox {
            position: absolute;
            z-index: 7;
            box-sizing: border-box;
            width: 468px;
            min-height: 80px;
            top: 0;
            left: 0;
            color: $text-color;
            margin: 0 16px;
            padding: 0 0 40px;
            outline: none;
          }

          .textbox:hover {
            cursor: text;
          }

          .textbox-overlay {
            position: relative;
            z-index: 6;
            padding: 0 16px;
            color: $placeholder-text;
          }
        }

        .submit-container {
          width: 100%;
          box-sizing: border-box;
          padding: 16px;

          button {
            box-sizing: border-box;
            width: 100%;
            padding: 10px 0;
            border-radius: 8px;
            border: none;
            background: $button-blue;
            font-size: 15px;
            color: $button-blue-text;
            font-weight: 500;
            transition: background 0.3s ease-out;
          }

          button:hover {
            background: $button-blue-hover;
          }

          button:disabled {
            background: $button-disabled;
            color: $button-disabled-text;
          }
        }
      }
    }
  }

  .post-index {
    .header-container, .post-index-item {
      background: $dark-grey-bg;
      margin: 16px 0;
      border-radius: 8px;
    }

    .header-container {
      box-sizing: border-box;
      padding: 16px;

      font-size: 20px;
      font-weight: 500;
      color: $text-color;
    }
    
    .post-index-item {
      display: flex;
      flex-direction: column;

      .post-header {
        .user-card {
          display: flex;
          height: 73px;
          align-items: center;

          .avatar-container, .avatar-overlay {
            position: relative;
            margin: 15px 10px 15px 15px;
            height: 40px;
            width: 40px;
          }
          
          .avatar-overlay {
            background: rgba(255, 255, 255, 0.1);
            position: absolute;
            display: none;
            border-radius: 50%;
            margin: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
  
          .avatar {
            height: 40px;
            width: 40px;
            border-radius: 50%;  
          }
  
          .avatar:hover + .avatar-overlay, .avatar-overlay:hover {
            display: block;
          }
          h4 {
            font-size: 15px;
            color: $text-color;
          }

          h4:hover {
            cursor: text;
            text-decoration: underline;
          }

          p {
            margin-top: 5px;
            font-size: 13px;
            color: $placeholder-text;
          }
        }
      }

      .post-content {
        margin: 0 15px 10px;
        font-size: 15px;
        font-weight: 300;
        color: $text-color;
        line-height: 1.5;
      }

      .post-buttons {
        box-sizing: border-box;
        margin: 0 15px 10px;
        padding: 4px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid $separator;
        border-bottom: 1px solid $separator;
        width: 470px;

        .button-container {
          width: 100%;
          display: flex;
          justify-content: center;

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $dark-grey-bg;
            transition: background 0.3s ease-out;
            border-radius: 8px;
            border: none;
            // padding: 0 10% 0 10%;
            width: 80%;
            
            i, span {
              font-size: 15px;
              color: $placeholder-text;
            }

            i, span {
              padding: 11px 4px;
            }
          }

          button:hover {
            background: $light-grey-bg;
          }
        }
      }
    }
  }
}